/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.ContentPage {
  p {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  header {
    h2{
      margin-bottom: 0.5rem;
      line-height: 3rem;
      text-transform: uppercase;

    }
    p {
      margin: 0;
      font-size: 1.8rem;
      line-height: 2.2rem;
      letter-spacing: -0.07rem;
      text-transform: uppercase;
      font-family: var(--font-family-semibold);
      color: rgba(86, 103, 131, 0.3);
    }
  }
  .content p:last-child {
    margin-bottom: 0;
  }
  .sidebar {
    font-size: 1.7rem;
    h5 {
      font-family: var(--font-family-semibold);
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
    }
    p {
      margin: 0;
      text-transform: capitalize;
      font-size: inherit;
      &.info {
        letter-spacing: -0.04rem;
        line-height: 2.4rem;
        text-transform: none;
        margin-top: 5rem;
      }
      &.no-margin {
        margin-top: 1.5rem;
      }
    }
    a {
      position: relative;
      color: inherit;
      text-decoration: none;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      &:before {
        position: absolute;
        font-family: 'Ionicons';
        content: '\f39c';
        top: 0.1rem;
        right: -1.8rem;
        color: var(--blue);
      }
      &:hover{
        opacity: 0.8;
      }
      &.inline-link {
        text-decoration: underline;
        color: var(--blue);
        &:before {
          content: '';
        }
      }
    }
    &:nth-child(1) {
      h5 {
        margin-top: 1rem;
      }
    }
  }
  .projects {
    margin-top: 3rem;
    article:nth-child(n+4){
      margin-top: 3rem;
    }
    h5 {
      margin: 0;
      font-size: 2rem;
      font-family: var(--font-family-semibold);
    }
    p {
      margin: 0;
      font-size: 1.8rem;
      font-family: var(--font-family-light);
      opacity: 40%;
    }
    a {
      margin-top: 0.5rem;
      color: var(--blue);
      text-decoration: none;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: color(var(--blue) lightness(-25%));
      }
    }
    img {
      margin: 0 0 2rem 0;
      max-width: 100%;
      border-radius: 0.2rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        filter: grayscale(90%);
        transform: scale(1.05);
      }
    }
  }
  .divider {
    display: block;
    margin: 0 auto 2rem auto;
    width: 34%;
    opacity: 0.2;
  }
  img {
    max-width: 100%;
    margin-bottom: 4rem;
    &.bordered {
      border: 1px solid rgba(110, 133, 145, 0.4);
    }
    &.out-there{
      max-width: 132%;
      @media screen and (max-width: 1199px) {
        max-width: 100%;
      }
    }
    &.size-117{
      max-width: 117%;
    }
  }
}
