/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.Contact {
  form {
    margin-top: -9rem;
    label {
      font-size: 2rem;
      /*opacity: 0.3;*/
    }
    input {
      height: 5rem;
    }
    input[type="text"], input[type="email"], textarea {
      width: 100%;
      padding: 1rem 1rem 0.5rem 1rem;
      margin-bottom: 2rem;
      border: 1px solid var(--gray-dark);
      opacity: 0.3;
      border-radius: 0.2rem;
      outline: none;
      transition: all 0.3s ease-in-out;
      &:focus {
        border: 1px solid var(--blue);
        opacity: 1;
      }
    }
    /*This doesn't work*/
    input:focus + label {
      opacity: 1;
    }
    input[type="submit"] {
      width: 100%;
      margin-bottom: 1rem;
      color: white;
      line-height: 5rem;
      border: 1px solid #3766E6;
      background: var(--blue);
      transition: all 0.3s ease-in-out;
      &:hover {
        background: #3766E6;
      }
    }
  }
}
