---
title: Ricardo Vazquez Portfolio
component: ContentPage
---
section.row
  header.col-lg-12
    h2 I FOCUS ON
  article.content.col-lg-8
    p Building innovative tools, supporting communities, teaching, learning, and shaping the environments in which the open web is made possible. Forget about design, I’m interested in how people think. Growing up around a family of musicians and artists, I decided to pursue meaning in art. After taking a slight detour upon realizing I was not cut out to be the next Jackson Pollock, I endeavoured into the digital realm. Being a designer allows me to focus on the microinteractions of an experience, and I extend that to the code that I write each and every day. My studies are founded upon a theoretical background. However, I combine this with fierce design skills and top interactive development. Best of both worlds, wouldn’t you say?
  
    p I’m interested in culture, design, aesthetic, wit, reality, existence, history, education, thought, and the happiness of pursuit.
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      h5 Favourite movie (lately)
      p <a href="http://www.imdb.com/title/tt1626146/?ref_=fn_al_tt_1" target="_">Hector & The Search for Happiness</a>
    div.sidebar
      h5 Music I'm jamming to
      p <a href="http://songl.ink/39749" target="_">Hey Rosetta!</a>
      p <a href="http://songl.ink/980bf" target="_">Polyenso</a>
    div.sidebar
      h5 Books I'm reading
      p <a href="http://www.amazon.ca/Art-Thinking-Clearly-Rolf-Dobelli/dp/0062219693/ref=sr_1_1?ie=UTF8&qid=1453435363&sr=8-1&keywords=the+art+of+thinking+clearly" target="_">The art of thinking clearly</a>
      p <a href="http://www.amazon.ca/Make-Good-Art-Neil-Gaiman/dp/0062266764/ref=sr_1_1?ie=UTF8&qid=1453435381&sr=8-1&keywords=make+good+art" target="_">Make good art</a>
    div.sidebar
      h5 Classes I'm taking
      p Woodworking 101
    div.sidebar
      h5 Principles I uphold
      p Emotional Design
      p Microinteractions
      p The Leap
    div.sidebar
      h5 The Last Conf I Spoke At
      p <a href="http://www.amazon.ca/Make-Good-Art-Neil-Gaiman/dp/0062266764/ref=sr_1_1?ie=UTF8&qid=1453435381&sr=8-1&keywords=make+good+art" target="_">The Power of Emotion and Delight</a>
//- End of Intro Section
  
//- section.row.five
  header.col-lg-12
    h2 500PX
    p User Interface / User Experience Design
    p 2012    
    
  article.content.col-lg-8
    h4 Photo Uploader
    hr
    img(src="projects/upload-1.png", alt="1st iteration of the Photo Uploader")
    img(src="projects/upload-2.png", alt="2nd iteration of the Photo Uploader")
    img(src="projects/upload-3.png", alt="3rd iteration of the Photo Uploader", class="out-there")
    img(src="projects/upload-4.png", alt="Final iteration of the Photo Uploader", class="bordered")
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      p.info Uploading is a critical aspect of the 500px experience, responsible for the product’s success. Our goal was to increase the number of uploads and metadata being submitted by users. We needed a fast and simple way to solve our user’s frustration. We wanted to educate users about the importance of adding metadata in order to increase the likelihood of their photo’s discoverability.
      p.info.no-margin Aesthetic language was explored during these iterations.
  img(src="projects/divider.svg", class="divider")
  
  article.content.col-lg-8
    h4 Photo Page
    hr
    img(src="projects/photo-w-1.png", alt="Desktop wireframe of the Photo Page")
    img(src="projects/photo-w-2.png", alt="Tablet and Mobile wireframe of the Photo Page")
    img(src="projects/photo-1.png", alt="1st iteration of the Photo Uploader", class="out-there size-117")
    img(src="projects/photo-2.png", alt="Final iteration of the Photo Uploader")
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      p.info The Photo Page is the most visited page in 500px.com. As users were uploading an increasing amount of higher resolution photos, we felt that a design improvement to the current photo page was needed to present these beautiful images in a more deserving way.
      p.info.no-margin The “V3” visual language was applied and explored further.
  img(src="projects/divider.svg", class="divider") 
  
  article.content.col-lg-8
    h4 The Organizer
    hr
    img(src="projects/organizer-1.png", alt="1st iteration of the 500px Organizer")
    img(src="projects/organizer-2.png", alt="2nd iteration of the 500px Organizer")
    img(src="projects/organizer-3.png", alt="Photos Section of the 500px Organizer")
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      p.info Organizer is a 500px feature that allows users to store, manage, and organize their photos. Organizer was created to leverage the power of data algorithms to create a powerful and autonomous application within the 500px ecosystem.

      p.info.no-margin In a nutshell, Organizer allows users to create Sets, Stories, and add Tags to their photos.
  img(src="projects/divider.svg", class="divider") 
  
//- End of 500PX
  
section.row.fb
  header.col-lg-12
    h2 FreshBooks
    p User Interface / User Experience Design
    p 2013  
    
  //- article.content.col-lg-8
    h4 One-Time Setup
    hr
    img(src="projects/ots-1.png", alt="1st iteration of the One-Time Setup Form")
    img(src="projects/ots-2.png", alt="2nd iteration of the One-Time Setup Form")
    img(src="projects/ots-3.png", alt="3rd iteration of the One-Time Setup Form")
    img(src="projects/ots-4.png", alt="Final iteration of the One-Time Setup Form")
  //- article.col-lg-3.col-lg-offset-1
    div.sidebar
      p.info FreshBook’s <a class="inline-link" href="https://dl.dropboxusercontent.com/u/43783651/Mozilla/OTS-OLD.png" target="_">One-time Setup</a> form had too many fields being asked to complete by the user. Completion rate declined from 90% to 65% during the course of 2 years. Research was conducted regarding usability, user behaviour patterns, and user interface elements that had the potential of aiding in the completion of this form. 
      
      p.info.no-margin Personality and emotion are some of the human-centred elements that guided these explorations.

      p.info.no-margin Take a look at the <a class="inline-link" href="https://dl.dropboxusercontent.com/u/43783651/Mozilla/Form%20Design%20Competitive%20Analysis.pdf" target="_">Form Design Competitive Analysis</a> I performed in order to obtain insights about usability and form patterns.
  //- img(src="projects/divider.svg", class="divider")

  article.content.col-lg-8
    h4 FreshBooks iOS 7 App
    hr
    img(src="#", alt="Add Wireframe")
    img(src="projects/ios-1.png", alt="iOS 7 Before and After")
    img(src="projects/ios-2.png", alt="iOS 7 Before and After")
    img(src="projects/ios-3.png", alt="iOS 7 Before and After")
    img(src="projects/ios-4.png", alt="iOS 7 Before and After")
    img(src="projects/ios-play.png", class="retina m-right-6" alt="Playfulness and Delight in FreshBooks")
    img(src="projects/ios-play-2.png", class="retina" alt="Playfulness and Delight in FreshBooks")
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      p.info The FreshBooks iOS application was in need of adherence to the iOS 7 Human Interface Guidelines. An improvement to User Experience was also part of this project.

      p.info.no-margin Deference, Clarity, and Depth were the primary iOS 7 principles we followed during this redesign. A <a class="inline-link" href="https://dl.dropboxusercontent.com/u/43783651/Mozilla/iOS7_Style_Guide.pdf" target="_"> complete style guide</a> was created for this project, which allowed for ease of scalability in regards to the visual language of this mobile app.
      
      p.info.no-margin Assumptions and biases were always <a class="inline-link" href="https://dl.dropboxusercontent.com/u/43783651/Mozilla/iOS7_User_Test.pdf" target="_">put to the test</a>. We sought to challenge iOS 7 conventions, with a goal of understanding the objectives of Apple's HIG.
  img(src="projects/divider.svg", class="divider")
    
//- End of FreshBooks
  
