---
title: Ricardo Vazquez Portfolio
component: ContentPage
---
section.row
  header.col-lg-12
    h2 I FOCUS ON
  article.content.col-lg-8
    p Building innovative tools, supporting communities, teaching, learning, and shaping the environments in which the open web is made possible. Forget about design, I’m interested in how people think. Growing up around a family of musicians and artists, I decided to pursue meaning in art. After taking a slight detour upon realizing I was not cut out to be the next Jackson Pollock, I endeavoured into the digital realm. Being a designer allows me to focus on the microinteractions of an experience, and I extend that to the code that I write each and every day. My studies are founded upon a theoretical background. However, I combine this with fierce design skills and top interactive development. Best of both worlds, wouldn’t you say?
  
    p I’m interested in culture, design, aesthetic, wit, reality, existence, history, education, thought, and the happiness of pursuit.
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      h5 Favourite movie (lately)
      p <a href="http://www.imdb.com/title/tt1626146/?ref_=fn_al_tt_1" target="_">Hector & The Search for Happiness</a>
    div.sidebar
      h5 Music I'm jamming to
      p <a href="http://songl.ink/39749" target="_">Hey Rosetta!</a>
      p <a href="http://songl.ink/980bf" target="_">Polyenso</a>
    div.sidebar
      h5 Books I'm reading
      p <a href="http://www.amazon.ca/Art-Thinking-Clearly-Rolf-Dobelli/dp/0062219693/ref=sr_1_1?ie=UTF8&qid=1453435363&sr=8-1&keywords=the+art+of+thinking+clearly" target="_">The art of thinking clearly</a>
      p <a href="http://www.amazon.ca/Make-Good-Art-Neil-Gaiman/dp/0062266764/ref=sr_1_1?ie=UTF8&qid=1453435381&sr=8-1&keywords=make+good+art" target="_">Make good art</a>
    div.sidebar
      h5 Classes I'm taking
      p Woodworking 101
    div.sidebar
      h5 Principles I uphold
      p Emotional Design
      p Microinteractions
      p The Leap
    div.sidebar
      h5 The Last Conf I Spoke At
      p <a href="http://www.amazon.ca/Make-Good-Art-Neil-Gaiman/dp/0062266764/ref=sr_1_1?ie=UTF8&qid=1453435381&sr=8-1&keywords=make+good+art" target="_">The Power of Emotion and Delight</a>

section.row.five
  header.col-lg-12
    h2 500PX
    p User Interface / User Experience Design
    p 2012
  article.content.col-lg-8
    h4 Photo Uploader
    hr
    img(src="projects/upload-1.png", alt="1st iteration of the Photo Uploader")
    img(src="projects/upload-2.png", alt="2nd iteration of the Photo Uploader")
    img(src="projects/upload-3.png", alt="3rd iteration of the Photo Uploader", class="out-there")
    img(src="projects/upload-4.png", alt="Final iteration of the Photo Uploader", class="bordered")
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      p.info Uploading is a critical aspect of the 500px experience, responsible for the product’s success. Our goal was to increase the number of uploads and metadata being submitted by users. We needed a fast and simple way to solve our user’s frustration. We wanted to educate users about the importance of adding metadata in order to increase the likelihood of their photo’s discoverability.
      p.info.no-margin Aesthetic language was explored during these iterations.
  img(src="projects/divider.svg", class="divider")
