---
title: Ricardo Vazquez
component: ContentPage
---
section.row
  header.col-lg-12
    h2 Get to know me.
  article.content.col-lg-8
    p Ever since I was yea high, I've been interested in how people think. Haven't you ever wondered? I'm sure you have. The feeling you get when someone finally gets you. That's what I wanted to do as a kid. Growing up around a family of musicians and artists, I decided to pursue meaning in art. But I took a slight detour. Art does not lie in the canvas. Well, of course it does, but it doesn't end there. Art lies in the experiences you and I share with the world. Our society is art.
    p And the web is art too. So here I am, part-time musician and full-time experience maker. I've always thought of my life as a blank page. I am fascinated about code that can bring out the love in someone. I have been all around the world searching to make meaning. Time does not matter, the pursuit of excellence does. The web is my canvas, the code is my brush, and the passion well, you can never replace that.
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      h5 Favourite movie
      p Hector & The Search for Happiness
    div.sidebar
      h5 Music I'm jamming to
      p Polyenso
    div.sidebar
      h5 Books I'm reading
      p The art of thinking clearly
      p <a href="#">Make good art</a>
    div.sidebar
      h5 Classes I'm taking
      p Woodworking 101

section.row
  header.col-lg-12
    h2 My superpowers are...
  article.content.col-lg-8
    p Creating unparalleled user experiences through visual theory as the basis of any of my work. Alright alright, you can call me a bookworm. But any meaningful user experience is grounded on strong theoretical practice. I have become extremely interested, entranced if you will, in interactive development. I see building a website/web application/mobile application as a puzzle to a larger scheme of social interaction. The Internet has become a vast galaxy of informational escapades, visual symphonies, and usability giants. Through my love of Romance languages, I have developed the knack for learning programming languages with a creative approach. I practice all of the latter while maintaining design and user experience principles in high gear.
    p People call us Front-End Developers; they call us UX Designers. I digress, we are crafters of emotional impact
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      h5 Languages in my repertoire
      p HTML, CSS, JavaScript, Angular, React, jQuery, Ember, Ruby On Rails
    div.sidebar
      h5 Power-ups I use
      p Sass, LESS, CoffeeScript, Jade
    div.sidebar
      h5 Principles I uphold
      p Human-centred Design
      p Mobile First
      p Emotional Design

section.row
  header.col-lg-12
    h2 This is some of my work.
  article.content.col-lg-8
    p Following are some of the recent projects I have had the pleasure of undertaking. Every one of them contains a piece of me.
  article.col-lg-3.col-lg-offset-1
    div.sidebar
      h5 Currently working on
      p Webmaker Android improvements

section.row.projects
  article.single.col-lg-5
    <img src="/webmaker.png"/>
    h5 Mozilla Webmaker
    p A landing page that focuses on improving conversion and enhancing the voice of Mozilla.
    <a href="#">View Case Study</a>
  article.single.col-lg-5.col-lg-offset-1
    <img src="public/webmaker.png"/>
    h5 Mozilla Webmaker for Android
    p A mobile app with a goal of allowing people to easily create digital and publishable content.
    <a href="#">View Case Study</a>
  article.single.col-lg-5
    <img src="public/webmaker.png"/>
    h5 FreshBooks for iOS
    p Helping small businesses around the world invoice and track time right from their iPhone.
    <a href="#">View Case Study</a>
  article.single.col-lg-5.col-lg-offset-1
    <img src="public/webmaker.png"/>
    h5 Dear Jen
    p One of my favourite projects; a love letter. Yes, I did write the copy myself. What can I say? I'm a hopeless romantic.
    <a href="#">View Website</a>
